header {
    position: relative;
    width: 100%;
    background: grey;
    color: white;
    height: 90px;
    margin-bottom: 50px;
}

header .logo {
    position: absolute;
    left: 15px;
    top: 30px;
}

nav {
    position: absolute;
    right: 15px;
    top: 30px;
}

nav ul,
nav ul li {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

ul li {
    list-style-type: none;
    display: inline-block;
}